<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Task21 by Jan Le</title>
    <meta name="author" content="Jan Le">
    <meta name="description" content="Task 21">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h1>Task 21 by Jan Le</h1>
<ul>
    <h2><br>View all</h2>
    <li>
        <a href="/users"><p>Users</p></a>
    </li>
    <li>
        <a href="/characters"><p>Characters</p></a>
    </li>
    <li>
        <a href="/classes"><p>Classes</p></a>
    </li>

    <h2><br>Search</h2>
    <li>
        <p>/user/{id}</p>
    </li>
    <li>
        <p>/character/{id}</p>
    </li>
    <li>
        <p>/class/{class_name}</p>
    </li>

    <h2><br>POST</h2>
    <li>
        <p>/user</p>
    </li>
    <li>
        <p>/character</p>
    </li>
    <li>
        <p>/class</p>
    </li>
</ul>

<br>
<p>Data will automatically reset when server shuts down.</p>

</body>

</html>